name: IoT CI/CD

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Run DSIPLAY_Test
        run:  |
          pio test -e target_test -v  
          pio test -e win_test -v
          pio test -e win_test_wifi -v
          pio test -e win_test_pc_comm -v
          pio test -e win_test_light -v
          


     # - name: Deploy Firmware
      #  run:
       #   ./deploy_firmware.sh

     # - name: Deploy to Production
     #   run:
      #    ./deploy_to_production.sh
